# Raw dataset creation

In [1]:
import csv

# Data for greek_gods.csv
greek_gods_data = [
    ["God", "Domain", "Symbol", "Age"],
    ["Zeus", "King of the Gods", "Thunderbolt", 10000],
    ["Poseidon", "God of the Sea", "Trident", 9000],
    ["Hera", "Queen of the Gods", "Peacock", 8500],
    ["Athena", "Goddess of Wisdom", "Owl", 8000],
    ["Hades", "God of the Underworld", "Helmet", 9500],
     ["Apollo", "God of the Sun", "Lyre", 8500],
    ["Dionysus", "God of Wine", "Grapevine", 7800],
    ["Hermes", "God of Trade and Messengers", "Caduceus", 8200],
    ["Ares", "God of War", "Spear", 8600],
    ["Hephaestus", "God of Fire and Blacksmiths", "Hammer", 8300],
    ["Eros", "God of Love", "Bow and Arrow", 7600],
    ["Pan", "God of the Wild", "Flute", 7900],
    ["Chronos", "God of Time", "Hourglass", 9000],
    ["Uranus", "God of the Sky", "Globe", 11000],
    ["Cronus", "Titan of Time and Harvest", "Sickle", 10500],
    ["Atlas", "Titan of Astronomy", "Globe", 10800],
    ["Prometheus", "Titan of Forethought", "Torch", 10700],
    ["Epimetheus", "Titan of Afterthought", "Anvil", 10600],
    ["Helios", "Titan of the Sun", "Chariot", 10900],
    ["Hecate", "Goddess of Magic", "Torch", 8400],
    ["Nemesis", "Goddess of Revenge", "Sword", 8700],
    ["Nike", "Goddess of Victory", "Laurel Wreath", 8800],
    ["Tyche", "Goddess of Luck", "Cornucopia", 8600],
    ["Eirene", "Goddess of Peace", "Cornucopia", 8700],
    ["Ananke", "Goddess of Necessity", "Serpent", 9200],
    ["Theia", "Titaness of Sight", "Eye", 10200],
    ["Selene", "Titaness of the Moon", "Crescent Moon", 10300],
    ["Phoebe", "Titaness of Prophecy", "Torch", 10400],
    ["Rhea", "Titaness of Fertility", "Cornucopia", 10100],
    ["Mnemosyne", "Titaness of Memory", "Scroll", 10000],
    ["Tethys", "Titaness of the Sea", "Fish", 9900],
    ["Oceanus", "Titan of the Ocean", "Trident", 9800],
    ["Coeus", "Titan of Intelligence", "Sphinx", 9700],
    ["Crius", "Titan of Constellations", "Star Map", 9600],
    ["Iapetus", "Titan of Mortality", "Hourglass", 9500],
    ["Phanes", "Protogenos of Creation", "Cosmic Egg", 12000],
    ["Eros", "Protogenos of Procreation", "Bow and Arrow", 12100],
    ["Aether", "Protogenos of Light", "Orb", 12200],
    ["Tartarus", "Protogenos of the Abyss", "Chasm", 12300],
    ["Gaea", "Protogenos of the Earth", "Globe", 12400],
    ["Uranus", "Protogenos of the Sky", "Globe", 12500],
    ["Nyxt", "Protogenos of Night", "Moon", 12600],
    ["Hemera", "Protogenos of Day", "Sun", 12700],
    ["Pontus", "Protogenos of the Sea", "Trident", 12800],
    ["Thanatos", "Protogenos of Death", "Scythe", 12900],
    ["Erebos", "Protogenos of Darkness", "Shadow", 13000],
    ["Eros", "Primordial God of Love", "Bow and Arrow", 13100],
    ["Tartarus", "Primordial God of the Abyss", "Chasm", 13200],
    ["Gaia", "Primordial Goddess of the Earth", "Globe", 13300],
    ["Uranus", "Primordial God of the Sky", "Globe", 13400],
    ["Nyx", "Primordial Goddess of Night", "Moon", 13500],
    ["Erebus", "Primordial God of Darkness", "Shadow", 13600],
    ["Aether", "Primordial God of Light", "Orb", 13700],
    ["Hemera", "Primordial Goddess of Day", "Sun", 13800],
    ["Pontus", "Primordial God of the Sea", "Trident", 13900]

]

# Write to greek_gods.csv
with open("greek_gods.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(greek_gods_data)

# Data for greek_goddesses.csv
greek_goddesses_data = [
    ["Goddess", "Domain", "Symbol", "Age"],
    ["Aphrodite", "Goddess of Love", "Dove", 7000],
    ["Artemis", "Goddess of the Hunt", "Bow and Arrow", 7500],
    ["Demeter", "Goddess of Agriculture", "Wheat", 8000],
    ["Hestia", "Goddess of the Hearth", "Fire", 8200],
    ["Persephone", "Queen of the Underworld", "Pomegranate", 7800],
    ["Athena", "Goddess of Warfare", "Aegis", 8000],
    ["Aphrodite", "Goddess of Love", "Dove", 7000],
    ["Persephone", "Goddess of Spring", "Flowers", 7800],
    ["Artemis", "Goddess of the Hunt", "Bow and Arrow", 7500],
    ["Demeter", "Goddess of Agriculture", "Wheat", 8000],
    ["Hestia", "Goddess of the Hearth", "Fire", 8200],
    ["Persephone", "Queen of the Underworld", "Pomegranate", 7800],
    ["Hecate", "Goddess of Magic", "Torch", 8400],
    ["Nemesis", "Goddess of Revenge", "Sword", 8700],
    ["Nike", "Goddess of Victory", "Laurel Wreath", 8800],
    ["Tyche", "Goddess of Luck", "Cornucopia", 8600],
    ["Eirene", "Goddess of Peace", "Cornucopia", 8700],
    ["Ananke", "Goddess of Necessity", "Serpent", 9200],
    ["Theia", "Titaness of Sight", "Eye", 10200],
    ["Selene", "Titaness of the Moon", "Crescent Moon", 10300],
    ["Phoebe", "Titaness of Prophecy", "Torch", 10400],
    ["Rhea", "Titaness of Fertility", "Cornucopia", 10100],
    ["Mnemosyne", "Titaness of Memory", "Scroll", 10000],
    ["Tethys", "Titaness of the Sea", "Fish", 9900],
    ["Oceanus", "Titan of the Ocean", "Trident", 9800],
    ["Coeus", "Titan of Intelligence", "Sphinx", 9700],
    ["Crius", "Titan of Constellations", "Star Map", 9600],
    ["Iapetus", "Titan of Mortality", "Hourglass", 9500],
    ["Phanes", "Protogenos of Creation", "Cosmic Egg", 12000],
    ["Eros", "Protogenos of Procreation", "Bow and Arrow", 12100],
    ["Aether", "Protogenos of Light", "Orb", 12200],
    ["Tartarus", "Protogenos of the Abyss", "Chasm", 12300],
    ["Gaea", "Protogenos of the Earth", "Globe", 12400],
    ["Uranus", "Protogenos of the Sky", "Globe", 12500],
    ["Nyxt", "Protogenos of Night", "Moon", 12600],
    ["Hemera", "Protogenos of Day", "Sun", 12700],
    ["Pontus", "Protogenos of the Sea", "Trident", 12800],
    ["Thanatos", "Protogenos of Death", "Scythe", 12900],
    ["Erebos", "Protogenos of Darkness", "Shadow", 13000],
    ["Eros", "Primordial God of Love", "Bow and Arrow", 13100],
    ["Tartarus", "Primordial God of the Abyss", "Chasm", 13200],
    ["Gaia", "Primordial Goddess of the Earth", "Globe", 13300],
    ["Uranus", "Primordial God of the Sky", "Globe", 13400],
    ["Nyx", "Primordial Goddess of Night", "Moon", 13500],
    ["Erebus", "Primordial God of Darkness", "Shadow", 13600],
    ["Aether", "Primordial God of Light", "Orb", 13700],
    ["Hemera", "Primordial Goddess of Day", "Sun", 13800],
    ["Pontus", "Primordial God of the Sea", "Trident", 13900]
]

# Write to greek_goddesses.csv
with open("greek_goddesses.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(greek_goddesses_data)


# 1.Merge the data from greek_gods.csv and greek_goddesses.csv based on a common field and create a new table that includes information about both gods and goddesses.

In [10]:
import pandas as pd

# Read data from CSV files
greek_gods_df = pd.read_csv("greek_gods.csv")
greek_goddesses_df = pd.read_csv("greek_goddesses.csv")

greek_gods_df['Type'] = 'God'
greek_goddesses_df['Type'] = 'Goddess'

# Merge data based on the "Domain" field
merged_data = pd.merge(greek_gods_df, greek_goddesses_df, on="Domain", how="outer")

# Save merged data to a new CSV file
merged_data.to_csv("merged_gods_and_goddesses.csv", index=False)
print(merged_data)

#better way
# Append the 'goddess' data into the 'god' dataset
greek_gods_df_combined = pd.concat([greek_gods_df, greek_goddesses_df], ignore_index=True)
# Fill None values in 'God' column with corresponding 'Goddess' names
greek_gods_df_combined['God'] = greek_gods_df_combined['God'].fillna(greek_gods_df_combined['Goddess'])

# Drop the 'Goddess' column as it's no longer needed
greek_gods_df_combined = greek_gods_df_combined.drop(columns=['Goddess'])
# Display the updated 'god' dataset
print(greek_gods_df_combined)

         God                   Domain     Symbol_x    Age_x Type_x  \
0       Zeus         King of the Gods  Thunderbolt  10000.0    God
1   Poseidon           God of the Sea      Trident   9000.0    God
2       Hera        Queen of the Gods      Peacock   8500.0    God
3     Athena        Goddess of Wisdom          Owl   8000.0    God
4      Hades    God of the Underworld       Helmet   9500.0    God
..       ...                      ...          ...      ...    ...
62       NaN    Goddess of the Hearth          NaN      NaN    NaN
63       NaN  Queen of the Underworld          NaN      NaN    NaN
64       NaN  Queen of the Underworld          NaN      NaN    NaN
65       NaN       Goddess of Warfare          NaN      NaN    NaN
66       NaN        Goddess of Spring          NaN      NaN    NaN

       Goddess     Symbol_y   Age_y   Type_y
0          NaN          NaN     NaN      NaN
1          NaN          NaN     NaN      NaN
2          NaN          NaN     NaN      NaN
3          NaN          NaN     NaN      NaN
4          NaN          NaN     NaN      NaN
..         ...          ...     ...      ...
62      Hestia         Fire  8200.0  Goddess
63  Persephone  Pomegranate  7800.0  Goddess
64  Persephone  Pomegranate  7800.0  Goddess
65      Athena        Aegis  8000.0  Goddess
66  Persephone      Flowers  7800.0  Goddess

[67 rows x 9 columns]
          God                       Domain       Symbol    Age     Type
0        Zeus             King of the Gods  Thunderbolt  10000      God
1    Poseidon               God of the Sea      Trident   9000      God
2        Hera            Queen of the Gods      Peacock   8500      God
3      Athena            Goddess of Wisdom          Owl   8000      God
4       Hades        God of the Underworld       Helmet   9500      God
..        ...                          ...          ...    ...      ...
98        Nyx  Primordial Goddess of Night         Moon  13500  Goddess
99     Erebus   Primordial God of Darkness       Shadow  13600  Goddess
100    Aether      Primordial God of Light          Orb  13700  Goddess
101    Hemera    Primordial Goddess of Day          Sun  13800  Goddess
102    Pontus    Primordial God of the Sea      Trident  13900  Goddess

[103 rows x 5 columns]

# 2. Filter the merged table to only include gods and goddesses who are older than 8000 years, then sort them based on their ages in descending order.

In [11]:

# Filter for ages greater than 8000
filtered_data = greek_gods_df_combined[greek_gods_df_combined['Age'] > 8000]

# Sort the filtered data by age in descending order
sorted_data = filtered_data.sort_values(by='Age', ascending=False)

# Display the result
print(sorted_data)

            God                       Domain    Symbol    Age     Type
102      Pontus    Primordial God of the Sea   Trident  13900  Goddess
54       Pontus    Primordial God of the Sea   Trident  13900      God
101      Hemera    Primordial Goddess of Day       Sun  13800  Goddess
53       Hemera    Primordial Goddess of Day       Sun  13800      God
100      Aether      Primordial God of Light       Orb  13700  Goddess
..          ...                          ...       ...    ...      ...
67       Hecate             Goddess of Magic     Torch   8400  Goddess
9    Hephaestus  God of Fire and Blacksmiths    Hammer   8300      God
65       Hestia        Goddess of the Hearth      Fire   8200  Goddess
7        Hermes  God of Trade and Messengers  Caduceus   8200      God
58       Hestia        Goddess of the Hearth      Fire   8200  Goddess

[89 rows x 5 columns]

# 3. Join the two tables based on the "Domain" field and calculate the average age of gods and goddesses in each domain.

In [12]:
# Merge the DataFrames based on 'Domain' column
merged_data = pd.merge(greek_gods_df, greek_goddesses_df, on="Domain", how="outer", suffixes=('_god', '_goddess'))

# print(merged_data)

# Calculate average age for each domain
avg_age_by_domain = merged_data.groupby('Domain')[['Age_god', 'Age_goddess']].mean()

# Rename the columns for clarity
avg_age_by_domain = avg_age_by_domain.rename(columns={'Age_god': 'Average Age (Gods)', 'Age_goddess': 'Average Age (Goddesses)'})

# Display the result
print(avg_age_by_domain)

                             Average Age (Gods)  Average Age (Goddesses)
Domain
God of Fire and Blacksmiths              8300.0                      NaN
God of Love                              7600.0                      NaN
God of Time                              9000.0                      NaN
God of Trade and Messengers              8200.0                      NaN
God of War                               8600.0                      NaN
...                                         ...                      ...
Titaness of Memory                      10000.0                  10000.0
Titaness of Prophecy                    10400.0                  10400.0
Titaness of Sight                       10200.0                  10200.0
Titaness of the Moon                    10300.0                  10300.0
Titaness of the Sea                      9900.0                   9900.0

[62 rows x 2 columns]

# 4. Determine which god/goddess has the highest age, and then find out if they are a god or a goddess.

In [13]:
# Find the entry with the highest age
max_age_entry = greek_gods_df_combined.loc[greek_gods_df_combined['Age'].idxmax()]
print(max_age_entry)


# Print the result
print("The god/goddess with the highest age is:", max_age_entry['God'])
# print("They are a", entity_type)

God                          Pontus
Domain    Primordial God of the Sea
Symbol                      Trident
Age                           13900
Type                            God
Name: 54, dtype: object
The god/goddess with the highest age is: Pontus

# 5. Create new column in each table called "Age_Group" and categorize the gods/goddesses into groups such as "Young" (age< 5000), "Middle-aged" (age between 5000 and 8000), and "Old" (age > 8000).

In [14]:
def categorize_age(age):
    if age < 5000:
        return "Young"
    elif 5000 <= age <= 8000:
        return "Middle-aged"
    else:
        return "Old"

# Add a new column 'Age_Group' to categorize age
# greek_gods_df['Age_Group'] = greek_gods_df['Age'].apply(categorize_age)
# greek_goddesses_df['Age_Group'] = greek_goddesses_df['Age'].apply(categorize_age)

#in one line
greek_gods_df_combined['Age_Group'] = greek_gods_df_combined['Age'].apply(categorize_age)
print(greek_gods_df_combined)
# # Display the updated DataFrames
# print("Greek Gods DataFrame with Age_Group column:")
# print(greek_gods_df)

# print("\nGreek Goddesses DataFrame with Age_Group column:")
# print(greek_goddesses_df)

          God                       Domain       Symbol    Age     Type  \
0        Zeus             King of the Gods  Thunderbolt  10000      God
1    Poseidon               God of the Sea      Trident   9000      God
2        Hera            Queen of the Gods      Peacock   8500      God
3      Athena            Goddess of Wisdom          Owl   8000      God
4       Hades        God of the Underworld       Helmet   9500      God
..        ...                          ...          ...    ...      ...
98        Nyx  Primordial Goddess of Night         Moon  13500  Goddess
99     Erebus   Primordial God of Darkness       Shadow  13600  Goddess
100    Aether      Primordial God of Light          Orb  13700  Goddess
101    Hemera    Primordial Goddess of Day          Sun  13800  Goddess
102    Pontus    Primordial God of the Sea      Trident  13900  Goddess

       Age_Group
0            Old
1            Old
2            Old
3    Middle-aged
4            Old
..           ...
98           Old
99           Old
100          Old
101          Old
102          Old

[103 rows x 6 columns]

# 6. Compare the average ages of gods and goddesses. Is there a significant age difference between them? If yes, which group tends to be older?

In [15]:
# Calculate average age for gods and goddesses
avg_age_gods = greek_gods_df['Age'].mean()
avg_age_goddesses = greek_goddesses_df['Age'].mean()

# Print the average ages
print("Average age of gods:", avg_age_gods)
print("Average age of goddesses:", avg_age_goddesses)

# Determine if there is a significant age difference
if avg_age_gods > avg_age_goddesses:
    print("Gods tend to be older.")
elif avg_age_gods < avg_age_goddesses:
    print("Goddesses tend to be older.")
else:
    print("There is no significant age difference between gods and goddesses.")

Average age of gods: 10660.0
Average age of goddesses: 10493.75
Gods tend to be older.

# 7. Write a Python program using for loop to iterate over the "Age" column of the merged table (after merging the gods and goddesses tables) and print out the names of gods/goddesses who are older than 8000 years.

In [16]:
# Iterate over the "Age" column and print names of gods/goddesses older than 8000 years
for index, row in greek_gods_df_combined.iterrows():
    if row['Age'] > 8000:
        print(row['God'], "-", row['Type'])

Zeus - God
Poseidon - God
Hera - God
Hades - God
Apollo - God
Hermes - God
Ares - God
Hephaestus - God
Chronos - God
Uranus - God
Cronus - God
Atlas - God
Prometheus - God
Epimetheus - God
Helios - God
Hecate - God
Nemesis - God
Nike - God
Tyche - God
Eirene - God
Ananke - God
Theia - God
Selene - God
Phoebe - God
Rhea - God
Mnemosyne - God
Tethys - God
Oceanus - God
Coeus - God
Crius - God
Iapetus - God
Phanes - God
Eros - God
Aether - God
Tartarus - God
Gaea - God
Uranus - God
Nyxt - God
Hemera - God
Pontus - God
Thanatos - God
Erebos - God
Eros - God
Tartarus - God
Gaia - God
Uranus - God
Nyx - God
Erebus - God
Aether - God
Hemera - God
Pontus - God
Hestia - Goddess
Hestia - Goddess
Hecate - Goddess
Nemesis - Goddess
Nike - Goddess
Tyche - Goddess
Eirene - Goddess
Ananke - Goddess
Theia - Goddess
Selene - Goddess
Phoebe - Goddess
Rhea - Goddess
Mnemosyne - Goddess
Tethys - Goddess
Oceanus - Goddess
Coeus - Goddess
Crius - Goddess
Iapetus - Goddess
Phanes - Goddess
Eros - Goddess
Aether - Goddess
Tartarus - Goddess
Gaea - Goddess
Uranus - Goddess
Nyxt - Goddess
Hemera - Goddess
Pontus - Goddess
Thanatos - Goddess
Erebos - Goddess
Eros - Goddess
Tartarus - Goddess
Gaia - Goddess
Uranus - Goddess
Nyx - Goddess
Erebus - Goddess
Aether - Goddess
Hemera - Goddess
Pontus - Goddess

# 8. Write a Python program to find the oldest god/goddess from the merged table (after merging the gods and goddesses tables) by iterating through the "Age" column using a while loop. Print out the name of the oldest god/goddess and their age.

In [17]:
# Initialize variables to store information about the oldest god/goddess
oldest_name = None
oldest_age = float('-inf')

# Iterate through the "Age" column using a while loop
index = 0
while index < len(greek_gods_df_combined):
    age = greek_gods_df_combined.iloc[index]['Age']
    if age > oldest_age:
        oldest_age = age
        oldest_name = greek_gods_df_combined.iloc[index]['God' if greek_gods_df_combined.iloc[index]['Type'] == 'God' else 'Goddess']
    index += 1

# Print the name of the oldest god/goddess and their age
print("The oldest god/goddess is:", oldest_name)
print("Their age is:", oldest_age)

The oldest god/goddess is: Pontus
Their age is: 13900